* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 220px;
  background-color: #fff;
  padding: 25px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .pic {
  width: 140px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.card .pic img {
  width: 100%;
}

.card .info {
  margin-top: 15px;
  text-align: center;
}
