@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg: #11212d;
  --primary: #ccd0cf;
  --secondary: #9ba8ab;
  --tertiary: #253745; /*  #4a5c6a */
  --dark: #06141b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  display: flex;
  padding: 20px 30px;
  gap: 20px;
}

nav {
  width: 5%;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 20px;
}

section.grid-container {
  width: 95%;
  height: 100%;
  /* background-color: var(--secondary-text); */
  border-radius: 20px;
}

.grid-container .gridlayout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 20% 1fr 1fr;
  grid-template-areas:
    "nav-part1 nav-part1 nav-part2 nav-part3"
    "weather weather current-date right-sideBar"
    "weather weather stop-watch right-sideBar"
    "card1 card2 card3 card4";

  grid-gap: 20px;
}

#nav-part1 {
  grid-area: nav-part1;
  background-color: var(--primary);
}
#nav-part2 {
  grid-area: nav-part2;
  background-color: var(--primary);
}
#nav-part3 {
  grid-area: nav-part3;
  background-color: var(--dark);
  border: 1px solid var(--primary);
}
#weather {
  grid-area: weather;
  background-color: var(--secondary);
}
#current-date {
  grid-area: current-date;
  background-color: var(--secondary);
}
#right-sideBar {
  grid-area: right-sideBar;
  background-color: var(--dark);
  border: 1px solid var(--primary);
}
#stop-watch {
  grid-area: stop-watch;
  background-color: var(--tertiary);
}
#card1 {
  grid-area: card1;
  background-color: var(--primary);
}
#card2 {
  grid-area: card2;
  background-color: var(--primary);
}
#card3 {
  grid-area: card3;
  background-color: var(--primary);
}
#card4 {
  grid-area: card4;
  background-color: var(--primary);
}

.gridlayout .elem {
  border-radius: 20px;
  transition: all ease 0.3s;
}

.elem:hover {
  scale: 1.015;
}
