* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#parent {
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 10% 40%;
}

.box {
  background-color: black;
}

.box:nth-child(2n) {
  background-color: #fff;
}

#h1 {
  color: transparent;
  font-size: 200px;
  background-image: url(https://images.unsplash.com/photo-1550684848-fac1c5b4e853?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
  background-size: cover;

  background-clip: text;
}

#first {
  color: transparent;
  font-size: 200px;
  font-weight: 900;
  background-image: url(https://images.unsplash.com/photo-1602940659805-770d1b3b9911?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG5ldyUyMHlvcmt8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600);
  background-size: cover;

  background-clip: text;

  -webkit-text-stroke: 2px #fff;
}

#second {
  color: transparent;
  font-size: 200px;
  font-weight: 900;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY24wN205czlpMm5iYmVveGdpcjZjczhqc21teXlhYjIycmdoMzE4YSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/kolvlRnXh8Jj2/200.webp);
  background-size: cover;

  background-clip: text;
}

#third {
  color: transparent;
  font-size: 200px;
  font-weight: 900;
  background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExY24wN205czlpMm5iYmVveGdpcjZjczhqc21teXlhYjIycmdoMzE4YSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/koyjGfQHIZQKk/giphy.webp);
  background-size: cover;

  background-clip: text;
}
