* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --shadow-color: #811528;
  --border-color: #c9274b;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000000, #000000);
  gap: 20px;
}

main .card {
  width: 200px;
  height: 320px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: all ease 0.5s;
}
main .card:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 60px var(--shadow-color);
  border: 4px solid transparent;
  background: conic-gradient(
      from var(--angle),
      transparent,
      var(--border-color),
      transparent
    )
    border-box;
  animation: roatetBorder 2s;
  animation-iteration-count: infinite;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 22px;
  color: #fff;
}

.card .info h2 {
  font-size: 23px;
}
.card:hover .info h2 {
  text-shadow: 2px 2px 5px white;
}

.card .info p {
  font-size: 18px;
  text-shadow: 2px 2px 3px black;
  opacity: 0;
  transition: all ease 0.3s;
}

.card:hover .info p {
  opacity: 1;
}

@keyframes roatetBorder {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
