@font-face {
  font-family: Roboto;
  src: url(./font/BfR8bXMIjhLq38.woff2);
}

@font-face {
  font-family: Chillax;
  src: url(./font/Chillax-Regular.woff);
}

@font-face {
  font-family: Satoshi;
  src: url(./font/Satoshi-Light.woff);
}

@mixin flex-column($gap:0rem){
  display: flex;
  flex-direction: column;
  gap: $gap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

html{
  color: #F4F2ED;
}
body{
  background-color: #121212;
}

section{
  max-width: 2000px;
}

main{
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1{
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top{
      width: 100%;

      img{
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom{
      background-color: #1E1E1E;
      padding: 1.9rem;
      @include flex-column(4rem);
      border-radius: 10px;

      p{
        font-family: Roboto;
      }

      .text{
        @include flex-column(0.7rem);

        h1{
          font-family: Chillax;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 2.3rem;
          line-height: 2.6rem;
        }

        p{
          color: #F4F2ED99;
          font-size: 1.25rem;
          font-family: Satoshi;
          line-height: 2rem;
          font-weight: 400;
          word-spacing: 0.3rem;
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
        }

        button{
          width: fit-content;
          background-color: #FFFFFF0D;
          border: none;
          outline: none;
          border: 1px solid #ffffff53;
          padding: 0.5rem;
          border-radius: 50%;
        }

        button i {
          font-size: 1.3rem;
          color: #f4f2ed95;
          font-weight: 100;
        }

        p span{
          font-family: Roboto;
          color: #F4F2ED;
          font-size: 1rem;
          
        }
      }

      
    }
  }

  section.view2{
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;

    .top,.bottom{
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element{
        text-align: center;
        @include flex-column(0.5rem);

        small{
          font-family: Roboto;
          color: #F4F2ED99;
          font-size: 1rem;
          font-weight: 300;
        }

        h2{
          font-family: Chillax;
          font-size: 2.25rem;
          font-weight: 100;
        }
      }
    }
  }

  section.view3{
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;

    .top{
      width: 100%;

      img{
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom{
      background-color: #1E1E1E;
      border-radius: 0.7rem;
      padding: 1.7rem;
      @include flex-column(4rem);

      

      .text{
        @include flex-column(0.7rem);

        h1{
          font-weight: 200;
          font-family: Chillax;
          text-transform: uppercase;
          font-size: 1.9rem;
          line-height: 2.3rem;
        }

        p{
          
          color: #F4F2ED99;
          font-family: Satoshi;
          font-size: 1.1rem;
          font-weight: 550;
          line-height: 1.7rem;
        }
      }
    }

    .bottom>p{
        font-family: Roboto;
        text-transform: uppercase
      }
  }

  section.view4{
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .card{
      width: 100%;
      aspect-ratio: 1/1;
      background-size: cover;
      border-radius: 0.7rem;

      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;

      .top{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding: 0.7rem;

        .icon{
          width: fit-content;
          border-radius: 50%;
          
          i{
            font-size: 1.1rem;
            font-family: Satoshi;
            font-weight: 100;
            color: #F4F2ED;
          }
        }
      }

      .icon,.bottom{
        backdrop-filter: blur(2rem);
        background-color: rgba(255, 255, 255, .05);
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 0.2rem;
        padding: 0.7rem;
      }

      .bottom{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        p{
          text-transform: uppercase;
        }

        p:nth-child(1){
          font-family: Chillax;
          font-size: 1.3rem;
        }
        p:nth-child(2){
          font-family: Roboto;
          font-weight: 400;
        }
      }

      
    }

    .card:nth-child(1){
      background-image: url(./photo/profile1.webp);
    }
    .card:nth-child(2){
      background-image: url(./photo/profile2.webp);
    }
    .card:nth-child(3){
      background-image: url(./photo/profile3.webp);
    }
  }
}

@media (min-width:1000px){
  main{

    section.view1{
      flex-direction: row;

      .top,.bottom{
        width: 50%;
      }

      .bottom{
        justify-content: space-between;
        padding: 4rem;

        .text{
          h1{
            font-size: 4rem;
            line-height: 4.7rem;
          }

          p{
            width: 85%;
          }
        }
      }
    }

    
    section.view2{
      flex-direction: row;

      .top,.bottom{

        .element{

          small{
            font-size: 1rem;
          }

          h2{
          font-size: 4rem;
          }
        
        }
      }
      

      

    }

    section.view3{
      flex-direction: row-reverse;

      .top, .bottom{
        width: 50%;
      }

      .bottom{
        justify-content: space-between;
        padding: 4rem;

        .text{

          h1{
            font-size: 3rem;
            line-height: 3.5rem;
          }

          .paragraphs{
            display: flex;
            gap: 2rem;

            p{
              width: 45%;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.7rem;
            }
          }
        }

        
      }
    }

    section.view4{
      flex-direction: row;
    }
  }
}