* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.card {
  width: 300px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  overflow: hidden;
}

.card h2 {
  margin-top: 10px;
}

.card #like {
  width: 65px;
  height: 65px;
  background-image: url("instagramLike.png");
  background-size: contain;
  position: absolute;
  transform: scale(0) rotate(40deg);
  transition: all ease 0.4s;
}
