* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 48, 48);
}

.piano-container {
  background-color: #010101;
  width: 900px;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;

  .piano-scren {
    background: linear-gradient(180deg, #383838 40%, #010101 100%);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .speaker {
      width: 105px;
      aspect-ratio: 1/1;
      padding: 2px;
      border-radius: 50%;
    }
    .speaker img {
      width: 100%;
      object-fit: contain;
    }

    .scren {
      background: linear-gradient(
        180deg,
        #030303 0%,
        #212020 50%,
        #030303 100%
      );
      color: #fff;
      width: 60%;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      overflow-y: auto;
    }
  }

  .piano {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    position: relative;

    .key {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .white {
      width: 100px;
      height: 300px;
      background-color: white;
      border: 1px solid #010101;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      text-align: center;
      position: relative;
    }

    .black {
      width: 70px;
      height: 200px;
      background: linear-gradient(180deg, #383838 40%, #010101 100%);
      color: #fff;
      position: absolute;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      text-align: center;
      z-index: 3;
    }

    span {
      position: absolute;
      left: 45%;
      bottom: 30px;
    }

    .black:nth-child(2) {
      left: 150px;
    }
    .black:nth-child(4) {
      left: 255px;
    }
    .black:nth-child(7) {
      left: 465px;
    }
    .black:nth-child(9) {
      left: 570px;
    }
    .black:nth-child(11) {
      left: 675px;
    }
  }
}
