* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: rgb(2, 207, 2);
  font-size: 38px;
  transition: all ease 0.1s;
}

button {
  padding: 10px 13px;
  margin-top: 60px;
  border-radius: 8px;
  border: 1px solid white;
  outline: none;
  background-color: green;
  transition: all ease 0.5s;
}

button:hover {
  background-color: rgb(3, 178, 3);
  transform: scale(1.2);
}
